@font-face {
  font-family: 'BT_Regular';
  src: url('../static/fonts/bttv_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BT_Light';
  src: url('../static/fonts/bttv_lt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BT_Bold';
  src: url('../static/fonts/bttv_bd-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}